/* common */
BODY {
	background:#666e71;
	margin:0;
	padding:0;
}
#container {
	margin:20px auto 0 auto;
	text-align:center;
	width:800px
}
.postcard {
	background-image: url(/images/mail/postcard.jpg);
	border:1px solid #000;
	color:#333;
	height:480px;
	margin:60px 0 0 0;
	width:800px;
}
.postcard .stamp {
	float:right;
	padding:25px 35px 0 0;
	text-align:center;
	width:60px;
}
.postcard .title {
	color:#333;
	font-family:Times;
	font-size:2.5em;
	margin:20px 0 20px 95px;
	text-align:center;
}
.postcard .left {
	float:left;
	height:427px;
	margin:10px 0 0 0;
	text-align:center;
	width:400px;
}
.postcard .right {
	float:left;
	height:340px;
	padding:40px 0 0 20px;
	width:340px;
}

/* form structure */
form.email-form {
	margin:10px 0 0 0;
	text-align:left;
	width:280px;
}
form.email-form .info {
	color:#333;
	font-family:"Gill Sans";
	height:114px;
	margin:40px 0 20px 0;
}
form.email-form input {
	border:1px solid transparent;
	border-bottom:1px solid #666;
	color:#777;
	font-size:1em;
	margin:0 0 8px 0;
	padding:2px 4px;
}
form.email-form input[type=text] {
	width:270px;
}
form.email-form span.button input {
	background:#ddd;
	border:1px solid #666;
	font-family:Times;
	padding:3px 6px;
}
form.email-form span.button input:hover {
	background:gray;
	border:1px solid #666;
	color:#ddd;
}
form.email-form .gender {
	padding:5px 6px 0px 6px;
}
form.email-form .buttons {
	margin:25px 0 0 0;
	text-align:right;
}
form.email-form .buttons .button {
	margin:0 2px;
}
form.email-form div.gender.error {
	background:#f8dbdb;
}

/* form errors */
input.error {
	background:#f8dbdb;
	border-top:1px solid #e77776;
	border-right:1px solid #e77776;
	border-left:1px solid #e77776;
}
.info div.error {
	color:#830C17;
}

/* footer */
#footer {
	color:#333;
	font-family:"Arial,Helvetica";
	font-size:.7em;
	margin:40px auto 20px auto;
	text-align:center;
	text-transform:uppercase;
}
#footer a {
	color:#333;
	text-decoration:none;
}

/* clearing */
div.clear {clear:both;padding-top:5px;} 


/* email-distribution */
form.email-form span.label,span.spacer,span.multiple span {width:120px;float:left;} 
form.email-form span.multiple {float:left;}
